nav.navbar .collapse ul.navbar-nav li.nav-item a.nav-link {
    font-family: "Poppins"!important;
    font-weight: 500!important;
}

nav.navbar .collapse ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #0071BC;
}

a.navbar-brand {
    font-family: "Poppins"!important;
}

button.navbar-toggler:focus:active {
    outline: 0;
}

.bg-intro {
    background-color: #F4F4F4;
}
#preview_img {
    max-height: unset !important;
    height: inherit !important;
}

.background-transparent {
    background-color: transparent!important;
}

#centerMainText {
    visibility: hidden;
}

section#intro {
    width: 100%;
    height: 100vh;
    position: relative;
}

section#services {
    background-color: #fff;
}

section#services h1 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 60px;
}

section#services h3 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins'
}

section#some {
    /* height: 100vh; */
}

section#about {
    background: #212529;
}

section#about .row {
    position: relative;
}

section#about .row .container .row img.img-fluid {
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.25);
}

section#about h1 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 60px;
}

#some h1 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 60px;
}

.input-group {
    max-width: 150px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    40%,
    60% {
        transform: translate3d(0, 50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    position: absolute;
    right: 0;
    font-size: 100px!important;
    color: #222;
    font-family: "Poppins";
    height: 90vmin;
    left: 40%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 90vmin;
    z-index: 1029;
}

.animated-title>div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 1029;
    width: 100%;
}

.animated-title>div div {
    font-size: 60px;
    font-weight: 800;
    padding: 2vmin 0;
    position: absolute;
    z-index: 1029;
}

.animated-title>div div span {
    display: block;
}

.animated-title>div.text-top {
    top: 0;
}

.animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.animated-title>div.text-top div span:first-child {
    color: #767676;
}

.animated-title>div.text-bottom {
    bottom: 0;
}

.animated-title>div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}

.parentBg {
    z-index: 19;
    font-family: Poppins;
    visibility: visible;
    text-align: inherit;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 800;
    font-size: 317px;
    border-color: rgb(96, 96, 96);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    margin-top: 390px;
}

.area {
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #777777;
    animation: animate 25s linear infinite;
    bottom: -50px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 10px;
    height: 10px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 10px;
    height: 10px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.container-c7 {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box>img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box>span {
    font-family: "Poppin";
    font-size: 25px;
    display: block;
    text-align: center;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 100%;
}

.comparison-slider-wrapper {
    position: relative;
    width: 100%;
    margin: 20px 0;
    background-color: white;
}

.comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 5px white solid;
    box-sizing: border-box;
}

.comparison-slider-wrapper .comparison-slider>img {
    width: 100%;
    height: auto;
    display: block;
}

.comparison-slider-wrapper .comparison-slider .overlay {
    display: none;
    position: absolute;
    width: 250px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    color: #DDD;
    text-align: right;
}

@media screen and (min-width: 767px) {
    .comparison-slider-wrapper .comparison-slider .overlay {
        display: block;
    }
}

.bg-right {
    z-index: 17;
    background-color: #fff;
    visibility: visible;
    overflow: hidden;
    border-color: rgba(255, 255, 255, 0);
    border-style: none;
    margin: 0px;
    border-radius: 320px 0px 0px 320px;
    padding: 0px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 631px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.bg-blue {
    background-color: #0071BC;
}

.h-100 {
    height: 100vh!important;
}

#services {
    position: relative;
}

.hvr-grow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imgfancy {
    max-width: 300px!important;
}

.text-block {
    color: #bbbbbb;
}

input.form-control:active,
input.form-control:focus,
input.form-control:focus:active {
    outline: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    border-color: #222;
}

#main-na.up {
    position: absolute;
    z-index: 10000;
    right: 10px;
}

#upLink i {
    color: #000;
    transition: color ease-in-out;
}

#upLink:hover i {
    color: #fff;
    transition: color ease-in-out;
}

#first-row {
    /* max-height: 100vh;
    min-height: 100vh; */
    height: auto!important;
    /* height: 100%!important; */
    position: relative;
}

section#about .container {
    padding-top: 20px;
    height: auto!important;
}

img#landing {
    position: absolute;
    z-index: 1000;
    height: 380px;
    width: auto;
    left: -120px;
}

@media(max-width: 992px) {
    #second {
        display: none!important;
    }
}

@media(min-width: 768px) {
    #centerMainText {
        visibility: visible;
        position: absolute;
        z-index: 1029;
        bottom: 40px;
    }
    #centerMainText h1 {
        color: #222;
        font-family: Poppins;
        font-size: 60px!important;
        font-weight: 800;
    }
}

@media(max-width: 768px) {
    .animated-title {
        top: 30%!important;
        position: absolute!important;
    }
}

@media(max-width: 1200px) {
    img#landing {
        position: absolute;
        z-index: 1000;
        height: 300px;
        width: auto;
        left: -100px;
    }
}

@media(min-width: 1700px) {
    section#about {
        height: 580px!important;
    }
    img#landing {
        position: absolute;
        z-index: 1000;
        height: 600px;
        width: auto;
        left: -180px;
    }
    /* section#services .row {
        padding-bottom: 200px;
    } */
    section#about .container {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -150px);
    }
}

@media(min-width: 1200px) {
    .container-footer {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media(max-width: 1200px) {
    .h-100 {
        height: auto!important;
    }
}

@media(max-width: 576px) {
    .animated-title {
        position: absolute;
        right: 0;
        font-size: 100px!important;
        color: #222;
        font-family: "Poppins";
        height: 90vmin;
        left: 0%;
        position: absolute;
        top: 45%;
        transform: none;
        width: 100%;
        margin-left: 0px;
    }
    .animated-title>div div {
        font-size: 35px;
        font-weight: 800;
        padding: 0;
        position: absolute;
    }
    img#landing {
        position: absolute;
        z-index: 1000;
        height: 150px!important;
        width: auto;
        left: 0px;
        margin: auto;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    section#intro {
        height: auto!important;
        position: relative;
    }
    .bg-right {
        border-radius: 0px 0px 0px 0px;
        height: 400px;
    }
    section#about {
        height: auto;
    }
    section#about .row {
        height: auto;
    }
    section#about .container {
        top: 0px;
        position: relative;
        left: 0%;
        transform: none;
        background: #343A40;
        height: auto;
    }
    .h-100 {
        height: auto;
    }
    section#services .row {
        padding-bottom: 0px;
    }
    section#services .container {
        padding-bottom: 0px;
    }
    .parentBg {
        letter-spacing: 0px;
        font-weight: 800;
        font-size: 250px;
        margin: 0px;
        border-radius: 0px;
        padding: 0px;
        width: 100%;
        opacity: 1;
        transform: none;
        transform-origin: 0px;
        margin-top: 370px;
    }
    .circles {
        padding-left: 0px;
    }
    .imgfancy {
        max-width: 250px!important;
    }
}
