beta/*
beta3/*
books/temp/*
client_files/*
correction_needed_files/*
images/*
img/*
invoices/*
optimized_result_files/*
result_compress_files/*
result_files/*
result_thumbnail_files/*
tmp/*
.vscode/*
users/pdf/*
users/apus_creators.pdf
users/apus_traders.pdf
plans_architectural/*
furniture_model_files/*
client_profile_picture_files/
ai_thumbnails/
client_profiles_picture_files/
.idea
